<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
54青年社区致力于为男女青年提供精神交流的平台，为男女青年提供交流生活,分享感悟的平台(zhan zhang you zai xia che dan)。

其实54青年社区创立的目的只有一个：改变技术男和office lady的生存现状。

站长本生作为一名漂泊于异乡的软件工程师(cheng xu gou),深受其害，在网上的时间主要都花费在了技术论坛，整个生活已经被技术充斥，已经忘了该如何去生活。所以，一定要改变技术男极力追(bu)求(hui)技(zhui)术(meizi)的现状。

另一边，技术男的女神们在干吗呢？除了工作就是逛网店和追剧，感冒了连个倒水的人都没有（ku...）。平时生活圈子窄，认识的人基本都是同事，又不能跟同事走的太近，连个朋友都没有，难道真要等着相亲吗？(ku xia...)

54青年社区只想为你提供一个热爱生活，追求自然的环境，少一分世俗，多一些感动。

感悟生活，分享经验，这里不谈技术，只聊生活。

我是阳光积极的54青年，我在54youth.me





CNode 社区由一批热爱 Node.js 技术的工程师发起，目前已经吸引了互联网各个公司的专业技术人员加入，我们非常欢迎更多对 Node.js 感兴趣的朋友。

CNode 的 SLA 保证是，一个9，即 90.000000%。

社区目前由 [@alsotang](http://cnodejs.org/user/alsotang) 在维护，有问题请联系：[https://github.com/alsotang](https://github.com/alsotang)

请关注我们的官方微博：http://weibo.com/cnodejs
*/
        })) %>
      </div>
    </div>
  </div>
</div>
